@model EditBookViewModel

<form asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="BookID" />

    <div class="mb-3">
        <label>Current Attachments:</label>
        <div class="d-flex flex-wrap">
            @if (Model.ExistingAttachments != null)
            {
                @foreach (var attr in Model.ExistingAttachments)
                {
                    <div class="m-2 text-center">
                        <img src="~/attachments/@attr.FileName" style="width:100px; height:100px;" class="img-thumbnail" />
                    </div>
                }
            }
        </div>
    </div>

    <div class="mb-3">
        <label>Upload New Attachments (This will replace old ones):</label>
        <input asp-for="NewAttachments" type="file" multiple class="form-control" />
    </div>

    <button type="submit" class="btn btn-warning">Update Book</button>
</form>